# Directories and files not to be committed to the Solar Data Project repository

# Top level Node Modules for express generator
/node_modules/

# Applicable VS Code files that should remain local
/.vscode/
launch.json

# Build config for local connections
/solar-data-savings/build.config.js
