.container {
    width: 85%;
    margin: auto;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.pad-left-0 {
    padding-left: 0px !important;
}

.time-container {
    display: none;
}

.init-date {
    display: none;
}

#init-date-message {
    font-style: italic;
}