.container {
    width: 85%;
    margin: auto;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.pad-left-0 {
    padding-left: 0px !important;
}

.time-container, .error-container {
    display: none;
}

#init-date-message {
    font-style: italic;
}

#savings-box {
    background-color: #f8f8f8;
    color: #848484;
}

p.marginExplanation {
    font-size: .75em;
}