doctype html
html
  head
    title= title
    // link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/styles/bootstrap/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/styles/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/savings.js')
  body
    block content
