doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../public/styles/global.css')
    link(rel='stylesheet', href='../public/styles/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='../public/bootstrap-datepicker/bootstrap-datepicker.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='../public/styles/bootstrap/js/bootstrap.min.js')
    script(src='../public/bootstrap-datepicker/bootstrap-datepicker.min.js')
    script(src='../public/javascripts/index.js')
    script(src='../public/javascripts/savings.js')
  body(class='container')
    block content
